.image_grid
    each image,i in ["https://placehold.co/600x400","https://placehold.co/600x400","https://placehold.co/600x400","https://placehold.co/600x400","https://placehold.co/600x400","https://placehold.co/600x400"]
        img(src=image, alt="")